@page "/vehiculoform"
@page "/vehiculoform/{Id:int}"

@using Data
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager
<h3>VehiculoForm</h3>

<EditForm Model="@oVehiculo">
    <div class="container-fluid">
        <div class="form-group row mb-1">
            <label class="col-sm-3">Nombre</label>
            <div class="col-sm-9">
                <InputText class="form-control" @bind-Value="@oVehiculo.Patente"></InputText>
            </div>
        </div>
        <div class="form-group row mb-1">
            <label class="col-sm-3">Marca</label>
            <div class="col-sm-9">
                <InputText class="form-control" ></InputText>
            </div>
        </div>
        <div class="form-group row mb-1">
            <div class="col-sm-12">
                <button class="btn btn-primary" @onclick="Save">Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    Vehiculo oVehiculo = new Vehiculo();
    Respuesta<object> oRespuesta = new Respuesta<object>();
    Respuesta<Vehiculo> oRespuestaVehiculo = new Respuesta<Vehiculo>();
    public string Url = "api/Vehiculo";

    private async Task Save()
    {
        if (Id != 0)
        {
            var response = await Http.PutAsJsonAsync<Vehiculo>(Url, oVehiculo);
            oRespuesta = response.Content.ReadFromJsonAsync<Respuesta<object>>().Result;
        }
        else
        {
            var response = await Http.PostAsJsonAsync<Vehiculo>(Url, oVehiculo);
            oRespuesta = response.Content.ReadFromJsonAsync<Respuesta<object>>().Result;
        }
        NavigationManager.NavigateTo("/vehiculos");
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            oRespuestaVehiculo = await Http.GetFromJsonAsync<Respuesta<Vehiculo>>(Url + "/" + Id);
            oVehiculo = oRespuestaVehiculo.Data;
        }
    }

}
